@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');

#container1 {
    position: absolute;
    width:65%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

#shape1, #shape2 {
    cursor: pointer;
    width: 45%;
    height: auto;
    padding: 20px;
}

.shape1{
    fill:#0000FF;
}

.shape2{
    fill:#00FFFF;
}

#text {
	position: absolute;
    display: block;
	top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
	width:600px;
    text-align: center;
}

#text h2 {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color:#0000FF;
}

#text a {
    font-size: 20px;
    text-decoration: line-through;
    font-family: 'Playfair Display', serif;
    color:#0000FF;
}

#txt {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color:#0000FF;
    transition: all .5s;
}