@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');

*{   
	box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;
}

#sec1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#sec2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#sec3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#sec4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.shapes{
    flex: 1 45%;
    padding: 20px;
}

#back {
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    text-align: center;
}

.text a {
    text-decoration: line-through;
	font-size: 15px;
    font-family: 'Playfair Display', serif;
    color:#0000FF;
}